<!-- bs4의 navbar -->
<nav class="mb-5 p-5 navbar navbar-expand-lg navbar-light bg-warning" th:fragment="navbarFragment">
  <a class="navbar-brand" th:href="@{/}">
  	<span class="sr-only">메인페이지</span>
  	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Spring_Boot.svg/512px-Spring_Boot.svg.png?20230616230349" alt="" width="30" />  &nbsp;<span class="text-uppercase text-success h4">spring boot</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" th:href="@{/question/list}">게시판<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" sec:authorize="isAnonymous()">
      <!-- isAnonymous()의 메소드로 리턴받은 값이 참이면 로그인하지 않은 상태이므로 로그인 메뉴가 보인다. -->
        <a class="nav-link text-white" th:href="@{/user/login}">로그인</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
      <!-- isAuthenticated()()의 메소드로 리턴받은 값이 참이면 로그인한 상태이므로 로그아웃 메뉴가 보인다. -->
        <a class="nav-link text-white" th:href="@{/user/logout}">로그아웃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/user/signup}">회원가입</a>
      </li>
    </ul>
    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>