<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<div class="container">
				<div class="jumbotron">
					<div class="display-4"><span class="small">질문제목 :</span> [[${question.subject}]]</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						<h5 class="card-title text-white"><span class="small">질문내용  : </span>[[${question.content}]]
							
							<!-- 등록날짜 -->
							<span class="badge badge-pill badge-secondary float-right" th:text="${#temporals.format(question.createDate, '등록날짜 yyyy-MM-dd HH:mm')}"></span>
							
							<!-- 수정날짜 -->
							<span class="badge badge-pill badge-secondary float-right mr-2" th:text="${#temporals.format(question.modifyDate, '수정날짜 yyyy-MM-dd HH:mm')}"></span>
							<span class="badge badge-pill badge-secondary float-right mr-2" th:if="${question.author != null}">[[${question.author.username}]]</span>
						</h5>
					</div>
				</div>
				
				<!-- 좋아요 추천 버튼 -->
				<a href="javascript:void(0);" class="btn border mt-2 recommend" th:data-uri="@{|/question/vote/${question.id}|}">👍좋아요 <span class="badge bg-success">[[${#lists.size(question.voter)}]]</span></a>
				<!-- 질문수정버튼 -->
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-success mt-2" sec:authorize="isAuthenticated()" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}">질문 수정</a>
				
				<!-- 질문삭제버튼 -->
				<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}" class="delete btn btn-danger mt-2" sec:authorize="isAuthenticated()" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}">질문 삭제</a>
				
				<h4 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|" class="my-5 border-bottom my-3 py-2"></h4>
				<!-- ${#lists.size()는 타임리프에서 제공하는 문법으로 매개변수로 객체를 넣으면 해당 객체의 갯수를 리턴한다. -->
				
				<div>
					<ul class="list-unstyled">
						<div class="card bg-light my-3"  th:each="answer : ${question.answerList}">
							<div class="card-body">
								<li>[[${answer.content}]]</li>
								
								<!-- 날짜를 출력하는 배지 -->
								<div class="d-flex justify-content-end">
									<span class="badge badge-pill badge-info mr-2" th:if="${answer.author != null}">[[${answer.author.username}]]</span>
									<span class="badge badge-pill badge-info mr-2" th:text="${#temporals.format(answer.modifyDate, '수정날짜 yyyy-MM-dd HH:mm')}"></span>
									<span class="badge badge-pill badge-info" th:text="${#temporals.format(answer.createDate, '등록날짜 yyyy-MM-dd HH:mm')}"></span>
								</div>
								
								<!-- 답변을 수정하는 버튼 -->
								<div>
									<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-success" sec:authorize="isAuthenticated()" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}" th:text="답변수정"></a>
									
									<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}" class="btn btn-danger delete" sec:authorize="isAuthenticated()" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}" th:text="답변삭제"></a>
									
								</div>
							</div>
						</div>
						
					</ul>
				</div>
				
				<!-- 답변 작성 -->
				<form th:action="@{|/answer/create/${question.id}|}" method="post" th:object="${answerForm}">
					<!-- 유효성 검증 에러시 에러내용 message 출력구문 -->
					<div th:replace="~{form_errors :: formErrorFragment}"></div>	
					<!-- <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="err : ${#fields.allErrors()}" >[[${err}]]</div>
					
					</div> -->
					<div class="form-group mb-0">
					<!-- sec:authorize="isAnonymous():현재 사용자의 로그인 상태를 체크 -->
						<textarea sec:authorize="isAnonymous()" name="content" id="content" cols="30" rows="10" class="form-control mb-0" th:field="*{content}" disabled placeholder="로그인한 상태에서 답변 작성 가능합니다."></textarea>
						<textarea sec:authorize="isAuthenticated()" name="content" id="content" cols="30" rows="10" class="form-control mb-0" th:field="*{content}"></textarea>
						<br /><br />
						<!-- 답변 기능의 content항목도 th:field 속성을 사용하겠다는 의미로 th:field="*{content}"를 넣는다! -->
					</div>
					<input type="submit" value="답변 등록하기" class="btn btn-warning text-white p-3 mt-0"/>
				</form>
		</div>
	</div>
	<script layout:fragment="script" type="text/javascript">
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function(element){
			element.addEventListener("click",function(){
				if(confirm("정말로 삭제하시겠습니까?")){
					location.href=this.dataset.uri;
				}
			})
		})
		
		const recommend_elements = document.getElementsByClassName("recommend");
		Array.from(recommend_elements).forEach(function(element){
			element.addEventListener("click",function(){
				if(confirm("정말로 추천하시겠습니까?")){
					location.href=this.dataset.uri;
				}
			})
		})
	</script>
</html>		












