<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<div class="container">
				<div class="jumbotron">
					<div class="display-4"><span class="small">질문제목 :</span> [[${question.subject}]]</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						<h5 class="card-title text-white"><span class="small">질문내용  : </span>[[${question.content}]]
							<span class="badge badge-pill badge-secondary float-right" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:MM')}"></span>
						</h5>
					</div>
				</div>
				
				<h4 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|" class="my-5 border-bottom my-3 py-2"></h4>
				<!-- ${#lists.size()는 타임리프에서 제공하는 문법으로 매개변수로 객체를 넣으면 해당 객체의 갯수를 리턴한다. -->
				
				<div>
					<ul class="list-unstyled">
						<div class="card bg-light my-3"  th:each="answer : ${question.answerList}">
							<div class="card-body">
								<li>[[${answer.content}]]</li>
								
								<!-- 날짜를 출력하는 배지 -->
								<div class="d-flex justify-content-end">
									<span class="badge badge-pill badge-info" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:MM')}"></span>
								</div>
							</div>
						</div>
						
					</ul>
				</div>
				
				<!-- 답변 작성 -->
				<form th:action="@{|/answer/create/${question.id}|}" method="post" th:object="${answerForm}">
					<!-- 유효성 검증 에러시 에러내용 message 출력구문 -->
					<div th:replace="~{form_errors :: formErrorFragment}"></div>	
					<!-- <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="err : ${#fields.allErrors()}" >[[${err}]]</div>
					
					</div> -->
					<div class="form-group mb-0">
						<textarea name="content" id="content" cols="30" rows="10" class="form-control mb-0" th:field="*{content}"></textarea><br /><br />
						<!-- 답변 기능의 content항목도 th:field 속성을 사용하겠다는 의미로 th:field="*{content}"를 넣는다! -->
					</div>
					<input type="submit" value="답변 등록하기" class="btn btn-warning text-white p-3 mt-0"/>
				</form>
		</div>
	</div>
</html>		