<!-- question_form.html -->
<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h5 class="my-5 border-bottom pb-2 display-4">질문등록</h5>
		<form th:action="@{/question/create}" method="post" th:object="">
		  <div class="form-group">
		    <label for="exampleFormControlInput1" class="text-warning">질문제목</label>
		    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="이것이 궁금합니다." name="subject">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1" class="text-warning">질문내용</label>
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" name="content"></textarea>
		  </div>
		  <input type="submit" value="글 등록" class="btn btn-info"/>
		</form>
	</div>
</html>	